<div class="container marketing">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <h1 class="text-center text-info">Nos Events</h1>
          <p class="text-decoration-none"><%= link_to 'Créer un Event', new_event_path, class: "btn btn-info" %></p>
        </div>
      </div>
    </div>
    <div class="row ml-5">
      <% @events.each do |event| %>
        <div class="col-lg-3 well m-3">
          <img src="https://source.unsplash.com/200x200/?city?sig=<%=rand(1..100)%>" 
                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
          <h4><%= event.title %></h4>
          <div class="col">
            <p class="text-decoration-none"><%= link_to "Voir l'Event", event_path(event), class: "btn btn-info" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
